.Videoelement {
	background: #9bbfcc;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	max-width: 560px;
	border: 1px solid black;
	display: inline-block;
}
.Videos {
	max-width: 100%;
text-align: center;
}
.Titel {
	text-align:center;
	font-weight:bold;
}