.Videoelement {
	background: green;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	max-width: 560px;
	display: inline-block;	
}
.Videos {
	max-width: 100%;
	background: red;
}
.Titel {
	text-align:center;
	font-weight:bold;
}